<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<link rel="apple-touch-icon" sizes="180x180" href='{{ "icons/apple-touch-icon.png" | absURL }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "icons/favicon-32x32.png" | absURL }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "icons/favicon-16x16.png" | absURL }}'>
<link rel="manifest" href='{{ "icons/site.webmanifest" | absURL }}'>
<link rel="mask-icon" href='{{ "icons/safari-pinned-tab.svg" | absURL }}' color="#5bbad5">
<link rel="shortcut icon" href='{{ "icons/favicon.ico" | absURL }}'>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content='{{ "icons/browserconfig.xml" | absURL }}'>
<meta name="theme-color" content="#ffffff">
<!-- Google Tag Manager -->
<script>
    // (function (w, d, s, l, i) {
    //     w[l] = w[l] || [];
    //     w[l].push({
    //         'gtm.start': new Date().getTime(),
    //         event: 'gtm.js'
    //     });
    //     var f = d.getElementsByTagName(s)[0],
    //         j = d.createElement(s),
    //         dl = l != 'dataLayer' ? '&l=' + l : '';
    //     j.async = true;
    //     j.src =
    //         'https://www.googletagmanager.com/gtm.js?id={{ .Site.Params.googleTagManagerID | absURL }}' + i + dl;
    //     f.parentNode.insertBefore(j, f);
    // })(window, document, 'script', 'dataLayer', '{{ .Site.Params.googleTagManagerID }}');
  
    let lang = window.navigator.languages ? window.navigator.languages[0] : null;
    lang = lang || window.navigator.language || window.navigator.browserLanguage || window.navigator.userLanguage;
    
    let shortLang = lang;
    if (shortLang.indexOf('-') !== -1)
    shortLang = shortLang.split('-')[0];

    if (shortLang.indexOf('_') !== -1)
    shortLang = shortLang.split('_')[0];

    let langRedirect = localStorage.getItem("langRedirect")
    localStorage.setItem("lastLang", "{{ site.Language }}")
    if (
        shortLang === "en" &&
        !window.location.pathname.startsWith("/" + shortLang + "/") &&
        langRedirect !== "false"
    ) {
        window.location.replace('./' + shortLang + "/");
    }
    localStorage.setItem("langRedirect", "false")
</script>
<!-- End Google Tag Manager -->
<!-- endinject -->
<title>{{ .Params.head.title }}</title>
{{- range .AllTranslations -}}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{ end -}}
<style>
    /* Fade In animation triggering after font load or 3s timeout */
    .rad-fade-in {
        will-change: opacity, transform;
        animation-name: rad-fade-in-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-fallback {
        0% {
            opacity: 0;
        }

        75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fonts-loaded .rad-fade-in.rad-waiting {
        animation-name: none;
        opacity: 0;
    }

    .fonts-loaded .rad-fade-in.rad-animate {
        animation-name: rad-fade-in;
        animation-duration: 1.1s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Fade In Long animation triggering after font load or 3s timeout */
    .rad-fade-in-long {
        will-change: opacity, transform;
        animation-name: rad-fade-in-long-fallback;
        animation-duration: 8s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-long-fallback {
        0% {
            opacity: 0;
        }

        75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fonts-loaded .rad-fade-in-long.rad-waiting {
        animation-name: none;
        opacity: 0;
    }

    .fonts-loaded .rad-fade-in-long.rad-animate {
        animation-name: rad-fade-in-long;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-long {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Fade Down animation triggering after font load or 3s timeout */
    .rad-fade-down {
        will-change: opacity, transform;
        animation-name: rad-fade-down-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
        transform: translateY(-30px);
    }

    @keyframes rad-fade-down-fallback {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        75% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fonts-loaded .rad-fade-down.rad-waiting {
        animation-name: none;
        opacity: 0;
        transform: translateY(-30px);
    }

    .fonts-loaded .rad-fade-down.rad-animate {
        animation-name: rad-fade-down;
        animation-duration: 1.1s;
    }

    @keyframes rad-fade-down {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Scale Down animation triggering after font load or 3s timeout */
    .rad-scale-down {
        will-change: opacity, transform;
        animation-name: rad-scale-down-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
        transform-origin: 50% 0;
    }

    @keyframes rad-scale-down-fallback {
        0% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        75% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .fonts-loaded .rad-scale-down.rad-waiting {
        animation-name: none;
        opacity: 0;
        transform: scaleY(0.95);
    }

    .fonts-loaded .rad-scale-down.rad-animate {
        animation-name: rad-scale-down;
        animation-duration: 1.1s;
        animation-fill-mode: both;
    }

    @keyframes rad-scale-down {
        0% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }
</style>

{{ range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .URL | absURL}}"/>
{{ end }}