@font-face {
  font-family: 'rad-icons';
  src: url('../fonts/rad-icons.eot?32706191');
  src: url('../fonts/rad-icons.eot?32706191#iefix') format('embedded-opentype'),
       url('../fonts/rad-icons.woff2?32706191') format('woff2'),
       url('../fonts/rad-icons.woff?32706191') format('woff'),
       url('../fonts/rad-icons.ttf?32706191') format('truetype'),
       url('../fonts/rad-icons.svg?32706191#rad-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rad-icons';
    src: url('../font/rad-icons.svg?32706191#rad-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rad-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-behance-line:before { content: '\e801'; } /* '' */
.icon-dribbble-line:before { content: '\e803'; } /* '' */
.icon-instagram-line:before { content: '\e806'; } /* '' */
.icon-linkedin-fill:before { content: '\e807'; } /* '' */
.icon-profile-fill:before { content: '\e809'; } /* '' */
.icon-smile-fill:before { content: '\e80a'; } /* '' */
.icon-twitter-line:before { content: '\e80b'; } /* '' */
.icon-youtube-line:before { content: '\e80c'; } /* '' */
.icon-quote:before { content: '\e80d'; } /* '' */
.icon-mail-fill:before { content: '\e80e'; } /* '' */
.icon-codepen-line:before { content: '\e80f'; } /* '' */
.icon-facebook-line:before { content: '\e810'; } /* '' */
.icon-github-line:before { content: '\e811'; } /* '' */
.icon-linkedin-line:before { content: '\e812'; } /* '' */
.icon-yelp-line:before { content: '\e82c'; } /* '' */

.icon-medium-line:before { filter: invert(var(--invert)); transform: translate(0px, 5px); content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='24' height='24' viewBox='0 0 50 50'%3E%3Cpath d='M 5 4 A 1.0001 1.0001 0 0 0 4 5 L 4 45 A 1.0001 1.0001 0 0 0 5 46 L 45 46 A 1.0001 1.0001 0 0 0 46 45 L 46 5 A 1.0001 1.0001 0 0 0 45 4 L 5 4 z M 6 6 L 44 6 L 44 44 L 6 44 L 6 6 z M 11 13 L 11 13.5 L 12.857422 16 C 12.949422 16.109 13 16.246672 13 16.388672 L 13 31.5 C 13 31.721 12.923203 31.935422 12.783203 32.107422 L 10 35.546875 L 10 36 L 18 36 L 18 35.546875 L 15.214844 32.087891 C 15.075844 31.916891 15 31.701422 15 31.482422 L 15 18.375 L 23.304688 36 L 24.847656 36 L 24.853516 35.980469 L 32 17.878906 L 32 32.75 C 32 32.91 31.935312 33.063734 31.820312 33.177734 L 29 35.546875 L 29 36 L 40 36 L 40 35.546875 L 38.179688 33.177734 C 38.064687 33.063734 38 32.91 38 32.75 L 38 16.125 C 38 15.965 38.064687 15.811266 38.179688 15.697266 L 40 13.5 L 40 13 L 31.775391 13 L 25.996094 27.642578 L 19.097656 13 L 11 13 z M 15.621094 15 L 17.828125 15 L 24.988281 30.195312 L 23.982422 32.744141 L 23.980469 32.744141 L 15.621094 15 z M 34 15 L 36.257812 15 C 36.090813 15.348 36 15.735 36 16.125 L 36 32.75 C 36 33.188 36.113266 33.619 36.322266 34 L 33.677734 34 C 33.886734 33.619 34 33.188 34 32.75 L 34 17.878906 L 34 15 z'%3E%3C/path%3E%3C/svg%3E") } /* '' */
.rad-showcase .platform-links [class="icon-medium-line"]:hover::before {transform: scale(1.2) translate(0px, 5px);}